body {
    font-family: Arial;
    background: skyblue;
}

.container {
    width: 300px;
    background: white;
    padding: 20px;
    margin: 100px auto;
    text-align: center;
    border-radius: 10px;
}

input {
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    height: 35px;
    background: deepskyblue;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 15px;
}
